<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MVT</title>
        <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    </head>
    <body>
        <style>
            #map {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 10px;
            }
        </style>
        <div id="map" class="map"></div>
        <script src="https://openlayers.org/en/v4.6.5/build/ol-debug.js" type="text/javascript"></script>
        <script>
            // Projection according to shp files
            var chileProjection = new ol.proj.Projection({
                code: 'EPSG:32719',
                // The extent is used to determine zoom level 0. Recommended values for a
                // projection's validity extent can be found at https://epsg.io/.
                extent: [441867.78, 1116915.04, 833978.56, 10000000.00],
                units: 'm'
            });

            var ecuadorProjection = new ol.proj.Projection({
                code: 'EPSG:32717',
                extent: [441867.78, 1116915.04, 833978.56, 10000000.00],
                units: 'm'
            });

            ol.proj.addProjection(chileProjection);
            ol.proj.addProjection(ecuadorProjection);

            var map = new ol.Map({
                target: "map",
                view: new ol.View({
                    projection: 'EPSG:32719',
                    // projection: ecuadorProjection,
                    center: [0, 0],
                    // Ecuador EPSG:32717
                    // center: [765029.475890, 9837992.476532],
                    // center: ol.proj.transform([765029.475890, 9837992.476532], 'EPSG:32717', 'EPSG:4326'),
                    // Santiago de Chile [lon, lat]
                    // center: [-70.653076, -33.425281],
                    // center: ol.proj.fromLonLat([-70.9100261, -33.4724727]),
                    zoom: 2
                }),
                layers: [
                    /*new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),*/
                    /*new ol.layer.Vector({
                        // projection: ecuadorProjection,
                        source: new ol.source.Vector({
                            format: new ol.format.GeoJSON({
                                defaultDataProjection: ecuadorProjection,
                                featureProjection: ecuadorProjection
                            }),
                            url: "{{ url_for('geo_json') }}"
                        })
                    })*/
                    new ol.layer.VectorTile({
                        source: new ol.source.VectorTile({
                            format: new ol.format.MVT(),
                            url: "{{ url_for('tiles') }}/{z}/{x}/{y}",
                            // projection: 'EPSG:32717'
                            // projection: 'EPSG:4326'
                        }),
                        style: function(feature, res) {
                            return new ol.style.Style({
                                stroke: new ol.style.Stroke({
                                    width: 1,
                                    color: 'rgba(0, 102, 204)'
                                })
                            })
                        }
                    })
                ]
            });
        </script>
    </body>
</html>