<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MVT</title>
        <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    </head>
    <body>
        <style>
            #map {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 10px;
            }
        </style>
        <div id="map" class="map"></div>
        <script src="https://openlayers.org/en/v4.6.5/build/ol-debug.js" type="text/javascript"></script>
        <script>
            var map = new ol.Map({
                target: "map",
                view: new ol.View({
                    projection: 'EPSG:4326',
                    // Ecuador
                    center: [-78.398438, -1.436998],
                    // Santiago de Chile [lon, lat]
                    // center: [-70.653076, -33.425281],
                    zoom: 4
                }),
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),
                    /*new ol.layer.Vector({
                        source: new ol.source.Vector({
                            format: new ol.format.GeoJSON(),
                            url: "{{ url_for('geo_json') }}"
                        })
                    })*/
                    new ol.layer.VectorTile({
                        source: new ol.source.VectorTile({
                            format: new ol.format.MVT(),
                            url: "{{ url_for('tiles') }}/{z}/{x}/{y}"
                        }),
                        style: function(feature, res) {
                            return new ol.style.Style({
                                stroke: new ol.style.Stroke({
                                    width: 1,
                                    color: 'rgba(0, 102, 204)'
                                })
                            })
                        }
                    })
                ]
            });
        </script>
    </body>
</html>